Dataset: 
Cleaning code: https://www.kaggle.com/code/artemkharlamov/twitter-friends-graph-analysis

In [17]:
!pip install --upgrade scipy

zsh:1: command not found: pip

In [18]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json 
import scipy

In [19]:
df = pd.read_csv(r'data.csv', sep=',(?=\S)', engine='python')

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
/var/folders/t_/bck4d7sx72b41tf1wqn_wtf40000gn/T/ipykernel_47221/2373984901.py:1: SyntaxWarning: invalid escape sequence '\S'
  df = pd.read_csv(r'data.csv', sep=',(?=\S)', engine='python')

In [20]:
df['friends'] = [json.loads(x) for x in df.friends]
df['id'] = [int(x.replace('"','')) for x in df.id]
df['screenName'] = [x.replace('"','') for x in df.screenName]

In [21]:
#df.head()

#### Users with friends less than 300

In [22]:
df[df.friendsCount < 300].id.nunique()

13164

#### Users with friends less than 30KÂ¶

In [23]:
df[df.friendsCount > 30000].id.nunique()

64

In [24]:
# Print column names
print("Column names:")
for column in df.columns:
    print(column)

Column names:
id
screenName
tags
avatar
followersCount
friendsCount
lang
lastSeen
tweetId
friends

In [25]:
# Drop unwanted columns
columns_to_drop = ['tags', 'avatar', 'tweetId']
df = df.drop(columns=columns_to_drop)

In [32]:
df.head()

,id,screenName,followersCount,friendsCount,lang,lastSeen,friends
0,1969527638,LlngoMakeEmCum_,319,112,"""en""",1472271687519,"[1969574754, 1969295556, 1969284056, 196961221..."
1,51878493,_notmichelle,275,115,"""en""",1472270622663,"[60789485, 2420931980, 2899776756, 127410795, ..."
2,1393409100,jesseayye,120,107,"""en""",1472804144409,"[86868062, 19697415, 2998836604, 456295047, 74..."
3,232891415,MrBrianLloyd,492,325,"""en""",1472269186776,"[361335082, 1405248468, 24626354, 725675895965..."
4,710130422907207680,sarahdorat_16,128,218,"""en""",1472271397356,"[1571896093, 768938323612008448, 2548665930, 3..."

In [27]:
# Get data type of 'friends' column
friends_dtype = df['friends'].dtype

print("Data type of 'friends' column:", friends_dtype)

Data type of 'friends' column: object

In [28]:
row = df[df['id'] == 1969527638]
print("Friends column value for id 1969527638:", row['friends'].values[0])

Friends column value for id 1969527638: ['1969574754', '1969295556', '1969284056', '1969612214', '1970067476', '1969797386', '1969430539', '1969840064', '1969698176', '1970005154', '283011644', '1969901029', '1969563175', '1969302314', '1969978662', '1969457936', '1969667533', '1969547821', '1969943478', '1969668032', '283006529', '1969809440', '1969601096', '1969298856', '1969331652', '1969385498', '1969674368', '1969565263', '1970144676', '1969745390', '1969947438', '1969734134', '1969801326', '1969324008', '1969259820', '1969535827', '1970072989', '1969771688', '1969437804', '1969507394', '1969509972', '1969751588', '283012808', '1969302888', '1970224440', '1969603532', '283011244', '1969501046', '1969887518', '1970153138', '1970267527', '1969941955', '1969421654', '1970013110', '1969544905', '1969839590', '1969876500', '1969674625', '1969337952', '1970046536', '1970090934', '1969419133', '1969517215', '1969787869', '1969298065', '1970149771', '1969422638', '1969504268', '1970025554', '1969776001', '1970138611', '1969316186', '1969547558', '1969689272', '283009727', '283015491', '1969526874', '1969662210', '1969536164', '1969320008', '1969893793', '1970158393', '1969365936', '1970194418', '1969942094', '1969631580', '1969704756', '1969920092', '1969712882', '1969791680', '1969408164', '1969754851', '1970205480', '1969840267', '1969443211', '1969706762', '1969692698', '1969751576', '1969486796', '1969286630', '1969686674', '1969833492', '1969294814', '1969472719', '1969685018', '283008559', '283011243', '1969680078', '1969545697', '1969646412', '1969442725', '1969692529']

In [29]:
len(row['friends'].values[0])

112

In [30]:
# Get the friends column value for that row
friends_list = row['friends'].values[0]

# Check if every value in friends_list is present in the id column of the dataset
if all(friend_id in df['id'].values for friend_id in friends_list):
    print("All friends' IDs are present in the dataset.")
else:
    print("Not all friends' IDs are present in the dataset.")

Not all friends' IDs are present in the dataset.

In [31]:
# Count how many friends' IDs are present in the dataset
present_count = sum(1 for friend_id in friends_list if friend_id in df['id'].values)

print("Number of friends' IDs present in the dataset:", present_count)

Number of friends' IDs present in the dataset: 0